<mat-toolbar class="toolbar" color="primary" role="toolbar" aria-label="toolbar">
  <mat-toolbar-row >
    <mat-icon class="toolbar-logo"></mat-icon>

    <button mat-button [routerLinkActive]="['active']" [routerLink]="['home']" *ngIf="identity.authenticated">{{ 'NAVIGATION.home' | translate }}</button>
    <button mat-button [routerLinkActive]="['active']" [routerLink]="['stuff']" *ngIf="identity.authenticated">{{ 'NAVIGATION.stuff' | translate }}</button>
    <button mat-button [routerLinkActive]="['active']" [routerLink]="['user']" *ngIf="identity.administrator">{{ 'NAVIGATION.users' | translate }}</button>

    <span class="push-right"></span>

    <button mat-button [routerLinkActive]="['active']" [routerLink]="['login']" *ngIf="identity.authenticated">{{ 'NAVIGATION.logout' | translate }}</button>


  </mat-toolbar-row>
</mat-toolbar>
