@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.push-right {
  flex: 1 1 auto;
}


.mat-icon.toolbar-logo {
  object-fit: cover;
  height: 70px;
  width: 350px;
  background-image: url("./assets/my-stuff.jpg");
  background-size: 100% 100%;
  margin-left: -20px;
  margin-right: 20px;
}

.container {
  height: 100%
}

.form-group {
  min-height: 3rem;
  width: 100%;
}

button.mat-raised-button {
  min-width: 100px;
}

.mat-tree-node {
  background-color: white;
  user-select: none;
  cursor: move;
}

/* while dragging */
.cdk-drag-preview {
  @include mat-elevation(12);
}

/* potential drop area */
.cdk-drag-placeholder {
  opacity: 0;
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-tree-node {
  background-color: rgb(66, 157, 253);
  color: white;
  user-select: none;
  cursor: move;
}

/* while dragging */
.mat-tree-node.cdk-drag-preview {
  @include mat-elevation(12);
}

/* potential drop area */
.mat-tree-node.cdk-drag-placeholder {
  opacity: 0;
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

